.text-link {
  font-family: "Plex Mono", "Courier New", Courier, monospace;
  color: #555555;
  fill: currentColor;
}
.text-link:hover {
  color: #000000;
}

.link-logo {
  font-size: 55px;
  display: inline-block;
  width: 55px;
}

#header-global {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 40px;
  background: #ffffff;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#header-global .link-logo {
  color: #000000;
}

.cart-link .cart-item-count {
  display: inline-block;
  background-color: #555555;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  padding-top: 1px;
}
.cart-link:hover .cart-item-count {
  background-color: #000000;
}

.header-nav-list {
  margin-left: 40px;
  display: inline-block;
}
.header-nav-list li {
  display: inline-block;
}
.header-nav-list li:not(:first-of-type) {
  margin-left: 20px;
}
.header-nav-list .text-link {
  color: #333333;
}
.header-nav-list .text-link:hover {
  color: #000000;
}

.header-right {
  margin-top: 18px;
}
.header-right > * {
  display: inline-block;
}
.header-right > *:not(:first-child) {
  margin-left: 20px;
}
